@{
    ViewData["Title"] = "Home Health";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="page-heading">
        <h1>Home Health</h1>
    </section>

    <section class="service-section">
        <div class="service-container">
            <div class="service-image">
                <img src="~/images/Home-health.jpg" alt="Home Health Care Patient" loading="lazy" />
            </div>
            <div class="service-content">
                <h2>Home Health Care Services Include:</h2>
                <ul>
                    <li>Skilled Nursing</li>
                    <li>Home Health Aide</li>
                    <li>IV Therapy</li>
                    <li>Diabetic Teaching and Management</li>
                    <li>Wound Care</li>
                    <li>Social Worker</li>
                    <li>Private Pay Service</li>
                    <li>Assessment, Observation and Reporting of Physical, Emotional and Psychological Symptoms</li>
                    <li>Medication Management</li>
                    <li>Conditions and Diseases</li>
                    <li>Physical, Occupational and Speech Therapy</li>
                </ul>

                <h3>Who pays for Home Health Care?</h3>
                <p>
                    Generally, Medicare and/or Medicaid will cover the cost of Home Health services for those patients who meet either program’s eligibility requirements.<br />
                    Private insurance companies, managed care organizations, and workers’ compensation plans may also pay for Home Health Services.
                </p>
            </div>
        </div>
    </section>
</main>
