@{
    ViewData["Title"] = "Hospice Care";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<section class="page-heading">
    <h1>Hospice Care</h1>
</section>

<!-- Main Content -->
<main class="hospice-container">
    <section class="hospice-box">
        <div class="hospice-img" data-aos="zoom-in">
            <img src="~/images/getty-images-MRmlxwtbg8w-unsplash.jpg" alt="Hospice Patient" />
        </div>
        <div class="hospice-content" data-aos="fade-up">
            <h2>Hospice Care Services Include:</h2>
            <ul>
                <li>Pain and symptom management</li>
                <li>Medications related to personal illness</li>
                <li>Physician and nurse on call 24 hours a day, 7 days a week</li>
                <li>Speech, physical and occupational therapy</li>
                <li>Spiritual and dietary therapy</li>
                <li>Bereavement Services</li>
            </ul>
        </div>
    </section>
</main>
