@{
    ViewData["Title"] = "Our Services";
    ViewData["BodyClass"] = "careers-page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="career-main">
    <section class="career-section">
        <h1 class="career-title">Our Services</h1>
        <div class="career-options">
            <a asp-controller="Home" asp-action="hospicecare" class="career-card">
                <img src="~/images/aboutus_2.webp" alt="Employment at Anarcare" />
                <div class="career-label">
                    Hospice Care
                </div>
            </a>
            <a asp-controller="Home" asp-action="homehealth" class="career-card">
                <img src="~/images/home_1.webp" alt="Volunteering at Anarcare" />
                <div class="career-label">
                    Home Health 
                </div>
            </a>
        </div>
    </section>
</main>
